* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

header {
  overflow: hidden;
  background-image: url("./img/Background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 754px;
  width: 1440px;
  position: relative;

  .button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f84646;
    color: white !important;
    border: none;
  }

  nav {
    margin-top: 45px;
    margin-left: 586px;

    .nav__link {
      &:link {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        font-style: normal;
        text-decoration: none;
        line-height: 20px;
        margin-right: 40px;
      }
      &:visited {
        color: black;
      }
    }
  }

  .header__intro {
    font-size: 64px;
    font-weight: 800;
    line-height: 82px;
    position: absolute;
    top: 200px;
    left: 120px;
    width: 665px;
  }

  .header__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.2px;
    width: 650px;
    height: 99px;
    position: absolute;
    top: 384px;
    left: 120px;
  }

  form {
    position: absolute;
    left: 120px;
    top: 533px;

    .header__input {
      display: inline-block;
      padding: 18px 32px;
      border-radius: 8px;
      border: none;
      width: 502px;
      height: 72px;
      &::placeholder {
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.2px;
        font-weight: 700;
        opacity: 0.4;
      }
      &:focus {
        outline: none;
      }
    }

    .header__input--button {
      display: inline-block;
      font-size: 16px;
      line-height: 36px;
      font-weight: 700;
      letter-spacing: 0.2px;
      padding: 12px 38px;
      border-radius: 8px;
      margin-left: -142.75px;
      cursor: pointer;
    }
  }
}

.section__1 {
  width: 1440px;
  margin-bottom: 140px;
  .article__introduction {
    text-align: center;
    width: 100%;

    .article__introduction--title {
      width: 100%;
      text-align: center;
      font-size: 36px;
      font-weight: 800;
      line-height: 49px;
      margin-top: 120px;
      height: 56px;
    }

    .article__introduction--description {
      margin: 0px auto;
      text-align: center;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      margin-top: 30px;
      width: 994px;
      height: 110px;
    }
  }

  .article__detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 112px;
    margin: 0px 120px;
    width: 1200px;
    // justify-content: center;

    .article__detail--box {
      text-align: center;
      margin-top: 90px;
      width: 320px;
      height: 211px;

      img {
        width: 76px;
        height: 76px;
        margin-bottom: 10px;
      }

      .box--header {
        font-size: 24px;
        font-weight: 800;
        line-height: 33px;
      }

      .box--description {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.2px;
        display: inline-block;
        width: 298px;
        height: 84px;
      }
    }
  }
}

.section__2 {
  width: 1440px;
  background-color: #f84646;
  padding: 75px 0px;
  color: white;

  .section__2__header {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
    margin-bottom: 8px;
  }

  .section__2__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-bottom: 60px;
  }

  .section__2__box {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 63px;
    display: flex;
    gap: 45px;
    align-items: center;

    p {
      display: inline-block;
      height: 62px;
      font-size: 18px;
      font-weight: 700;
      line-height: 31px;
      flex-grow: 1;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}
