* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

header {
  overflow: hidden;
  background-image: url("./img/Background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 754px;
  width: 1440px;
  position: relative;
}
header .button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f84646;
  color: white !important;
  border: none;
}
header nav {
  margin-top: 45px;
  margin-left: 586px;
}
header nav .nav__link:link {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  line-height: 20px;
  margin-right: 40px;
}
header nav .nav__link:visited {
  color: black;
}
header .header__intro {
  font-size: 64px;
  font-weight: 800;
  line-height: 82px;
  position: absolute;
  top: 200px;
  left: 120px;
  width: 665px;
}
header .header__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.2px;
  width: 650px;
  height: 99px;
  position: absolute;
  top: 384px;
  left: 120px;
}
header form {
  position: absolute;
  left: 120px;
  top: 533px;
}
header form .header__input {
  display: inline-block;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  width: 502px;
  height: 72px;
}
header form .header__input::-moz-placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: 700;
  opacity: 0.4;
}
header form .header__input::placeholder {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: 700;
  opacity: 0.4;
}
header form .header__input:focus {
  outline: none;
}
header form .header__input--button {
  display: inline-block;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding: 12px 38px;
  border-radius: 8px;
  margin-left: -142.75px;
  cursor: pointer;
}

.section__1 {
  width: 1440px;
  margin-bottom: 140px;
}
.section__1 .article__introduction {
  text-align: center;
  width: 100%;
}
.section__1 .article__introduction .article__introduction--title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 49px;
  margin-top: 120px;
  height: 56px;
}
.section__1 .article__introduction .article__introduction--description {
  margin: 0px auto;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  margin-top: 30px;
  width: 994px;
  height: 110px;
}
.section__1 .article__detail {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 112px;
       column-gap: 112px;
  margin: 0px 120px;
  width: 1200px;
}
.section__1 .article__detail .article__detail--box {
  text-align: center;
  margin-top: 90px;
  width: 320px;
  height: 211px;
}
.section__1 .article__detail .article__detail--box img {
  width: 76px;
  height: 76px;
  margin-bottom: 10px;
}
.section__1 .article__detail .article__detail--box .box--header {
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
}
.section__1 .article__detail .article__detail--box .box--description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  display: inline-block;
  width: 298px;
  height: 84px;
}

.section__2 {
  width: 1440px;
  background-color: #f84646;
  padding: 75px 0px;
  color: white;
}
.section__2 .section__2__header {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  margin-bottom: 8px;
}
.section__2 .section__2__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-bottom: 60px;
}
.section__2 .section__2__box {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 63px;
  display: flex;
  gap: 45px;
  align-items: center;
}
.section__2 .section__2__box p {
  display: inline-block;
  height: 62px;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  flex-grow: 1;
}
.section__2 .section__2__box p.--p1 {
  width: 146px;
}
.section__2 .section__2__box p.--p2 {
  width: 199px;
}
.section__2 .section__2__box p.--p3 {
  width: 181px;
}
.section__2 .section__2__box p.--p4 {
  width: 182px;
}
.section__2 .section__2__box img {
  width: 32px;
  height: 32px;
}

.section__3 {
  width: 1440px;
  padding: 160px 120px;
}
.section__3 .blog-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  color: #2e2e2e;
  margin-bottom: 40px;
}
.section__3 .blog-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #808080;
  margin-bottom: 80px;
  width: 524.31px;
}
.section__3 button {
  padding: 12px 58.2px;
  background-color: #f84646;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 160.4px;
}
.section__3 img {
  display: inline-block;
  border-radius: 8px;
  width: 505.26px;
  height: 480px;
}
.section__3 .section__3__blog1,
.section__3 .section__3__blog2 {
  display: flex;
  gap: 85.21px;
}
.section__3 .section__3__blog1 {
  margin-bottom: 120px;
}

.section__4 {
  background-color: #f4f5f7;
  width: 1440px;
  padding: 60px 0px;
  color: #18191f;
}
.section__4 .section__4__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  text-align: center;
  margin-bottom: 5px;
}
.section__4 .section__4__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  margin-bottom: 48px;
}
.section__4 .logo-container {
  width: 946px;
  height: 336px;
  margin: 0px auto;
  display: flex;
  gap: 24px;
}
.section__4 .logo-container img {
  display: inline-block;
  width: 170px;
  height: 96px;
  margin: auto 0px;
  border-radius: 16px;
}
.section__4 .logo-container .column {
  display: inline-block;
  height: 336px;
  width: 170px;
}
.section__4 .logo-container .column__1,
.section__4 .logo-container .column__5 {
  padding: 120px 0px;
}
.section__4 .logo-container .column__2,
.section__4 .logo-container .column__4 {
  padding: 60px 0px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 24px;
}
.section__4 .logo-container .column__3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 24px;
}/*# sourceMappingURL=style.css.map */