* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

header {
  overflow: hidden;
  background-image: url("./img/Background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 754px;
  width: 1440px;
  position: relative;

  .button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f84646;
    color: white !important;
    border: none;
    &:hover {
      background-color: #f98282;
    }
  }

  nav {
    margin-top: 45px;
    margin-left: 586px;

    .nav__link {
      &:link {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        font-style: normal;
        text-decoration: none;
        line-height: 20px;
        margin-right: 40px;
        color: black;
      }
      &:visited {
        color: black;
      }
    }
  }

  .header__intro {
    font-size: 64px;
    font-weight: 800;
    line-height: 82px;
    position: absolute;
    top: 200px;
    left: 120px;
    width: 665px;
  }

  .header__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.2px;
    width: 650px;
    height: 99px;
    position: absolute;
    top: 384px;
    left: 120px;
  }

  form {
    position: absolute;
    left: 120px;
    top: 533px;

    .header__input {
      display: inline-block;
      padding: 18px 32px;
      border-radius: 8px;
      border: none;
      width: 502px;
      height: 72px;
      &::placeholder {
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.2px;
        font-weight: 400;
        opacity: 0.4;
      }
      &:focus {
        outline: none;
      }
    }

    .header__input--button {
      display: inline-block;
      font-size: 16px;
      line-height: 36px;
      font-weight: 700;
      letter-spacing: 0.2px;
      padding: 12px 38px;
      border-radius: 8px;
      margin-left: -142.75px;
      cursor: pointer;
      &:hover {
        background-color: #f98282;
      }
    }
  }
}

.section1 {
  width: 1440px;
  margin-bottom: 140px;
  .article__introduction {
    text-align: center;
    width: 100%;

    .article__introduction--title {
      width: 100%;
      text-align: center;
      font-size: 36px;
      font-weight: 800;
      line-height: 49px;
      margin-top: 120px;
      height: 56px;
      letter-spacing: 0.2px;
    }

    .article__introduction--description {
      margin: 0px auto;
      text-align: center;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      margin-top: 30px;
      width: 994px;
      height: 110px;
    }
  }

  .article__detail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 112px;
    margin: 0px 120px;
    width: 1200px;
    // justify-content: center;

    .article__detail--box {
      text-align: center;
      margin-top: 90px;
      width: 320px;
      height: 211px;

      img {
        width: 76px;
        height: 76px;
        margin-bottom: 10px;
      }

      .box--header {
        font-size: 24px;
        font-weight: 800;
        line-height: 33px;
      }

      .box--description {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.2px;
        display: inline-block;
        width: 298px;
        height: 84px;
      }
    }
  }
}

.section2 {
  width: 1440px;
  background-color: #f84646;
  padding: 75px 0px;
  color: white;

  .section2__header {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
    margin-bottom: 8px;
  }

  .section2__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-bottom: 60px;
  }

  .section2__box {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 63px;
    display: flex;
    gap: 45px;
    align-items: center;

    p {
      display: inline-block;
      height: 62px;
      font-size: 18px;
      font-weight: 700;
      line-height: 31px;
      flex-grow: 1;
      &.--p1 {
        width: 146px;
      }
      &.--p2 {
        width: 199px;
      }
      &.--p3 {
        width: 181px;
      }
      &.--p4 {
        width: 182px;
      }
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.section3 {
  width: 1440px;
  padding: 160px 120px;

  .blog-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    color: #2e2e2e;
    margin-bottom: 40px;
  }

  .blog-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #808080;
    margin-bottom: 80px;
    width: 524.31px;
  }

  button {
    padding: 12px 58.2px;
    background-color: #f84646;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 160.4px;
    cursor: pointer;
    &:hover {
      background-color: #f98282;
    }
  }

  img {
    display: inline-block;
    border-radius: 8px;
    width: 505.26px;
    height: 480px;
  }

  .section3__blog1,
  .section3__blog2 {
    display: flex;
    gap: 85.21px;
  }

  .section3__blog2 {
    gap: 146.36px;
  }

  .section3__blog1 {
    margin-bottom: 120px;
  }

  .display1024 {
    display: none;
  }
}

.section4 {
  background-color: #f4f5f7;
  width: 1440px;
  padding: 60px 0px;
  color: #18191f;

  .section4__title {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
    margin-bottom: 5px;
  }

  .section4__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-bottom: 48px;
  }

  .logo-container {
    width: 946px;
    height: 336px;
    margin: 0px auto;
    display: flex;
    gap: 24px;

    img {
      display: inline-block;
      width: 170px;
      height: 96px;
      margin: auto 0px;
      border-radius: 16px;
    }

    .column {
      display: inline-block;
      height: 336px;
      width: 170px;
    }

    .column__1,
    .column__5 {
      padding: 120px 0px;
    }

    .column__2,
    .column__4 {
      padding: 60px 0px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      row-gap: 24px;
    }

    .column__3 {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 24px;
    }
  }
}

.section5 {
  width: 1440px;
  padding: 160px 0px;
  text-align: center;

  .section5--logo {
    display: inline-block;
    position: relative;

    img {
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-bottom: 10px;
      z-index: 1;
      // position: absolute;
    }

    .ellipse {
      img {
        width: 61px !important;
        height: 61px !important;
        z-index: -1;
        position: absolute;
        left: 55px;
        top: 6px;
      }
    }
  }

  .section5--title {
    font-size: 48px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .section5--description {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 30px;
  }

  button {
    padding: 25px 40px;
    color: white;
    background-color: #f84646;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #f98282;
    }
  }
}

footer {
  width: 1440px;
  padding: 80px 120px;
  padding-bottom: 70px;
  background-color: #f8464a;
  color: #e6e6e6;

  .footer__col--title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .footer__col--content,
  .footer__copyright p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .footer__copyright {
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 0px;
    }

    div {
      display: flex;
      gap: 21px;

      img {
        width: 28px;
        height: 28px;
        display: inline-block;
      }

      // .fb-icon {
      //   margin-right: 4px;
      // }
    }
  }

  .footer {
    display: flex;
    gap: 100px;
    margin-bottom: 26px;
  }
}

@media (max-width: 1024px) {
  header {
    height: 647px;
    width: 1024px;
    background-position-x: -68px;

    nav {
      margin-left: 250px;

      .nav__link {
        &:link {
          margin-right: 36px;
        }
      }
    }

    .header__intro {
      font-weight: 800;
      font-size: 56px;
      line-height: 74px;
      top: 161px;
      left: 60px;
      height: 147px;
    }

    .header__description {
      font-size: 16px;
      line-height: 28px;
      left: 60px;
      top: 328px;
      width: 565px;
    }

    form {
      top: 447px;
      left: 60px;

      .header__input {
        padding: 18px 27px;
        width: 422px;
        height: 72px;
      }

      .header__input--button {
        padding: 12px 25px;
        margin-left: -116.75px;
      }
    }
  }

  .section1 {
    width: 1024px;
    margin-bottom: 135px;

    .article__introduction {
      .article__introduction--description {
        width: 852px;
        height: 109px;
      }
    }

    .article__detail {
      margin: 0px 135px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: 734px;
      column-gap: 103px;
    }
  }

  .section2 {
    width: 1024px;
    padding: 82px 0px;

    .section2__box {
      width: 904px;
      padding: 0px;
      margin: 0px auto;
      gap: 28px;

      p {
        height: 53px;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .section2__description {
      margin-bottom: 55px;
    }
  }

  .section3 {
    width: 1024px;
    padding: 100px 60px;
    padding-bottom: 160px;

    .blog-title {
      font-size: 58px;
      line-height: 59.5px;
      margin-bottom: 20px;
    }

    .blog-description {
      font-size: 14px;
      line-height: 28.5px;
      margin-bottom: 46px;
      width: 428px;
    }

    img {
      width: 424px;
      height: 404px;
    }

    .section3__blog1,
    .section3__blog2 {
      display: flex;
      gap: 52px;
    }

    .display1440 {
      display: none;
    }
  }

  .section4 {
    width: 1024px;
    padding: 45px 0px;
    padding-bottom: 73px;
  }

  .section5 {
    width: 1024px;
  }

  footer {
    width: 1024px;
    padding: 80px 60px;
    padding-right: 0px;
    padding-bottom: 70px;

    .footer {
      gap: 50px;
    }

    .footer__col--content,
    .footer__copyright p {
      font-family: "Inter";
    }

    .footer__copyright {
      margin-right: 60px;
    }
  }
}
